/* input{
  padding: 11px !important;
} */

.required {
  color: red;
}

#togglePass {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  z-index: 2;
  color: #888;
  font-size: 1.2rem;
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.12);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  border-width: 6px;
}
