#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.12);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
div p {
  font-size: 14px;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  border-width: 6px;
}
.required {
  color: red;
}
